.rg-header {
    //text-align: center;
    //font-weight: bold;
    ///* 헤더의 색깔 변경 */
    background: #7781E5; //#7781E5
    color: #ffffff;
    font-family: "Inter var", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
}

.center-cell-text {
    text-align: center;
}
.left-cell-text {
    text-align: left;
}
.right-cell-text {
    text-align: right;
}

.rg-header-focus {
    /* 포커스 헤더의 색깔 변경 */
    background: #7781E5;
    color: #FFFFFF;
}

.rg-body .rg-table tr td, .rg-fixed-body .rg-table tr td{
    border-right: 0px;
}
.rg-header .rg-table tr td{
    border-right: 0px;
}

.rg-grid{
    border: none;
}

.rg-head .rg-table tr td{
    background: #7781E5;
    color: #ffffff;
}

.rg-header-renderer{
    //padding : 0 10px;
    //padding-top: 4px;
    padding-left: 2px;
    padding-bottom: 0px;
}

.rg-renderer{
    padding : 0 10px;
    //padding-top: 4px;
}

.mediro-form-custom{
    font-size: 12px !important;
    min-height: 30px !important;
}

.mat-paginator-range-actions{
    width: 60%;
}
.mat-paginator-container{
    width: 40%;

}
