<div class="w-full max-w-3xl margin_auto">

    <!-- Form -->
    <form [formGroup]="userForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">프로필</div>
            <div class="text-secondary">회원님의 프로필 정보입니다. 다른 사람이 볼 수 있으니 주의해 주세요.</div>
        </div>
        <div style="display: grid !important;" class="sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>아이디</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'id'"
                        [attr.disabled]="isEdit?'':false"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Name -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>역할</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'userType'">
                        <ng-container *ngFor="let type of userType">
                            <mat-option [value]="type.id">
                                {{type.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Username -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                    <mat-label>사업자</mat-label>
                    <div
                        class="text-secondary"
                        matPrefix>
                        등록번호
                    </div>
                    <input
                        [formControlName]="'businessNumber'"
                        [attr.disabled]="isEdit?'':false"
                        disabled
                        matInput>
                </mat-form-field>
            </div>
            <!-- Title -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>이름</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user-circle'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'name'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Company -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>회사</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:office-building'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'businessName'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Title -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>이메일</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:mail'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Company -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>휴대폰</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phone'"
                        type = number
                        matInput>
                </mat-form-field>
            </div>
            <!-- Title -->
            <div class="sm:col-span-2" *ngIf="isAdmin">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>대표자명</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"matPrefix></mat-icon>
                    <input
                        [formControlName]="'representName'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2" *ngIf="isAdmin">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>주소</mat-label>
                    <input
                        (click)="openDaumPopup()"
                        [formControlName]="'address'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2" *ngIf="isAdmin">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>업태</mat-label>
                    <input
                        [formControlName]="'businessCondition'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2" *ngIf="isAdmin">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>종목</mat-label>
                    <input
                        [formControlName]="'businessCategory'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2" *ngIf="isAdmin">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>대표전화</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phoneNumber'"
                        type = number
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2" *ngIf="isAdmin">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>팩스</mat-label>
                    <input
                        [formControlName]="'fax'"
                        type = number
                        matInput>
                </mat-form-field>
            </div>
            <!-- About -->
<!--            <div class="sm:col-span-4">-->
<!--                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">-->
<!--                    <mat-label>About</mat-label>-->
<!--                    <textarea-->
<!--                        matInput-->
<!--                        [formControlName]="'about'"-->
<!--                        matTextareaAutosize-->
<!--                        [matAutosizeMinRows]="5"></textarea>-->
<!--                </mat-form-field>-->
<!--                <div class="mt-1 text-md text-hint">Brief description for your profile. Basic HTML and Emoji are allowed.</div>-->
<!--            </div>-->
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full" *ngIf="isAdmin">
            <div class="text-xl">UDI 계정정보 등록</div>
            <div class="text-secondary">공급내역 보고를 위한 식약처 공급내역 보고 사이트의 아이디와 시크릿키를 입력해주세요.</div>
            <div class="text-secondary">* 아이디와 시크릿키는 암호화되어 저장되므로 안심하세요. </div>
        </div>
        <div style="display: grid !important;" class="sm:grid-cols-4 gap-6 w-full mt-8" *ngIf="isAdmin">
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Client Id</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:identification'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'udiClientId'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Secret Key</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'udiClientSecret'"
                        type="password"
                        matInput>
                </mat-form-field>
            </div>
        </div><div style="display: grid !important;" class="sm:grid-cols-5 gap-6 w-full mt-8" *ngIf="isAdmin">
        <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>공급내역 보고 자동 여부</mat-label>
                <!--                    <mat-icon-->
                <!--                        class="icon-size-5"-->
                <!--                        [svgIcon]="'heroicons_solid:location-marker'"-->
                <!--                        matPrefix></mat-icon>-->
                <mat-select [formControlName]="'udiSupplyAutoYn'">
                    <ng-container *ngFor="let udiSupplyAutoYn of udiSupplyAutoYn">
                        <mat-option [value]="udiSupplyAutoYn.id">
                            {{udiSupplyAutoYn.name}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>공급내역 보고 일자</mat-label>
                <!--                    <mat-icon-->
                <!--                        class="icon-size-5"-->
                <!--                        [svgIcon]="'heroicons_solid:location-marker'"-->
                <!--                        matPrefix></mat-icon>-->
                <mat-select [formControlName]="'udiSupplyAutoDt'">
                    <ng-container *ngFor="let udiSupplyAutoDt of udiSupplyAutoDt">
                        <mat-option [value]="udiSupplyAutoDt.id">
                            {{udiSupplyAutoDt.name}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="sm:col-span-1">
            <button
                class="ml-4 mt-6"
                mat-flat-button
                type="button"
                (click)="saveUdiInfo()"
                [color]="'primary'">공급내역 보고 설정
            </button>
        </div>
    </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t" *ngIf="isAdmin"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                (click)="saveAccountInfo()"
                [color]="'primary'">저장
            </button>
        </div>
    </form>

    <div #daum_popup style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img (click)="closeDaumPopup()" src="//t1.daumcdn.net/postcode/resource/images/close.png" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1;width: 6%;" />
    </div>

</div>
