<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 pt-4 pb-2">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="flex-row text-3xl font-extrabold tracking-tight">견적 관리</div>
    </div>
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-1 pb-2 px-6 border-b">
        <!-- 검색조건 -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
            <form
                [formGroup]="searchForm">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                    <mat-select [formControlName]="'status'">
                        <ng-container *ngFor="let status of status">
                            <mat-option [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                    <mat-select [formControlName]="'searchCondition'">
                        <ng-container *ngFor="let searchCondition of searchCondition">
                            <mat-option [value]="searchCondition.id">
                                {{searchCondition.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
                    <input
                        matInput
                        [formControlName]="'searchText'"
                        [autocomplete]="'off'"
                        [placeholder]="'검색조건을 선택해주세요.'">
                </mat-form-field>
                <!-- Search -->
                <!--                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
                <!--                    <mat-icon-->
                <!--                        matPrefix-->
                <!--                        [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
                <!--                    <input-->
                <!--                        matInput-->
                <!--                        [formControlName]="'searchText'"-->
                <!--                        [autocomplete]="'off'"-->
                <!--                        [placeholder]="'상품검색'">-->
                <!--                </mat-form-field>-->
            </form>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <button
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                (click)="selectHeader()">
                <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                <span class="ml-2 mr-1">조회</span>
            </button>
            <button
                class="ml-2"
                mat-flat-button
                [color]="'accent'"
                (click)="createDetail()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">견적서 작성</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Item list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">
            <ng-container *ngIf="estimateHeadersCount > 0; else noEstimates">
                <!-- Table wrapper -->
                <div
                    class="overflow-x-auto sm:overflow-y-auto"
                    cdkScrollable>
                    <!-- Table -->
                    <table
                        class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        mat-table
                        matSort
                        [matSortActive]="'accountNm'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="estimateHeaders$"
                        [trackBy]="trackByFn">

                        <ng-container matColumnDef="select">
                            <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                style="width:7%"
                                mat-header-cell
                                *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                              [checked]="selection.hasValue() && isAllSelected()"
                                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                                              [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row"
                                style="width:7%">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(row) : null"
                                              [checked]="selection.isSelected(row)"
                                              [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="qtCreDate">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                견적생성일자
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.qtCreDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="qtDate">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                견적일자
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.qtDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="qtNo">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                견적 번호
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.qtNo}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="account">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                거래처 코드
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.account}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="accountNm">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                거래처 명
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.accountNm}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="accountType">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                거래처 유형
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{(estimateHeader.accountType | fuseFindByKey:'id':accountType).name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                유형
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{(estimateHeader.type | fuseFindByKey:'id':type).name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                상태
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{(estimateHeader.status | fuseFindByKey:'id':status).name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                이메일
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.email}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="qtAmt">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                견적금액
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.qtAmt}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="remarkHeader">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                비고
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.remarkHeader}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="soNo">
                            <th
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                주문번호
                            </th>
                            <td
                                class="pr-8 truncate"
                                mat-cell
                                *matCellDef="let estimateHeader">
                                {{estimateHeader.soNo}}
                            </td>
                        </ng-container>
                        <tr
                            class="shadow"
                            mat-header-row
                            *matHeaderRowDef="estimateHeadersTableColumns; sticky: true"></tr>
                        <tr
                            class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                            mat-row
                            (click)="selectClickRow(estimateHeader)"
                            *matRowDef="let estimateHeader; columns: estimateHeadersTableColumns;"></tr>
                        <!--(dblclick)="selectDoubleClickRow(estimateHeader)"-->


                    </table>
                </div>
                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="estimateHeaderPagenation.length"
                    [pageIndex]="estimateHeaderPagenation.page"
                    [pageSize]="estimateHeaderPagenation.size"
                    [pageSizeOptions]="[8, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </ng-container>
            <ng-template #noEstimates>
                <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                    <p>데이터가 없습니다.</p>
                    <p>견적서 작성 버튼을 클릭하여 견적을 등록해 주세요.</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
