<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary mediro-custom-background-color">
        <div class="text-lg font-medium">품목 신규등록</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Alert -->
    <fuse-alert
        class="mt-4 -mb-4 mr-12 ml-12"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
    </fuse-alert>
    <div class="m-4">
        <form
            class="flex flex-col border-b"
            [formGroup]="selectedItemForm">
            <div class="p-4 sm:p-4">
                <div class="grid sm:grid-cols-4 gap-2 w-full sm:pr-2">
                    <div class="sm:col-span-2">
                        <!-- Name -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>품목코드 <mat-icon  class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon></mat-label>
                            <input
                                matInput
                                [formControlName]="'itemCd'"
                                [attr.disabled]="is_edit?'':false"
                                (click)="openItemSearch()">
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-1">
                        <!-- Name -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>품목 등급 <mat-icon  class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon></mat-label>
                            <mat-select [formControlName]="'itemGrade'" [attr.disabled]="is_edit?'':false">
                                <ng-container *ngFor="let itemgrade of itemGrades">
                                    <mat-option [value]="itemgrade.id">
                                        {{itemgrade.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-1">
                        <!-- Name -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>UDI 대상 유무 <mat-icon  class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon></mat-label>
                            <mat-select [formControlName]="'udiYn'" [attr.disabled]="is_edit?'':false">
                                <ng-container *ngFor="let udiYn of udiYn">
                                    <mat-option [value]="udiYn.id">
                                        {{udiYn.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="grid sm:grid-cols-4 gap-2 w-full sm:pr-2 mt-2">
                    <div class="sm:col-span-2">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>품목명 <mat-icon  class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon></mat-label>
                            <input
                                matInput
                                [formControlName]="'itemNm'"
                                [attr.disabled]="is_edit?'':false">
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-1">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>공급사</mat-label>
                            <input
                                matInput
                                (click)="supplierSearch()"
                                [formControlName]="'supplier'">
                        </mat-form-field>
<!--                        <span class="use-mat-dense fuse-mat-no-subscript w-1/12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
<!--                        <button-->
<!--                            class="w-2/5 mediro-btn-custom"-->
<!--                            mat-flat-button-->
<!--                            [color]="'accent'"-->
<!--                            [ngStyle]="{'align-self': 'center','margin-top': '10px'}">-->
<!--                            검색-->
<!--                        </button>-->
                    </div>
                    <div class="sm:col-span-1">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>제조사</mat-label>
                            <input
                                matInput
                                [formControlName]="'manufacturer'">
                        </mat-form-field>
                        <!--                        <span class="use-mat-dense fuse-mat-no-subscript w-1/12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
                        <!--                        <button-->
                        <!--                            class="w-2/5 mediro-btn-custom"-->
                        <!--                            mat-flat-button-->
                        <!--                            [color]="'accent'"-->
                        <!--                            [ngStyle]="{'align-self': 'center','margin-top': '10px'}">-->
                        <!--                            검색-->
                        <!--                        </button>-->
                    </div>

                </div>
                <div class="grid grid-cols-4 sm:grid-cols-4 gap-2 w-full sm:pr-2 mt-2">
                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>매입단가 <mat-icon  class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon> </mat-label>
                            <input
                                matInput
                                type = 'number'
                                [placeholder]="'0'"
                                [formControlName]="'buyPrice'">
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>매출단가 <mat-icon  class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon> </mat-label>
                            <input
                                matInput
                                type = 'number'
                                [placeholder]="'0'"
                                [formControlName]="'salesPrice'">
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>단위</mat-label>
                            <mat-select [formControlName]="'unit'">
                                <ng-container *ngFor="let unit of itemUnit">
                                    <mat-option [value]="unit.id">
                                        {{unit.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>규격</mat-label>
                            <!--<mat-select [formControlName]="'standard'">
                                <ng-container *ngFor="let standard of itemStandard">
                                    <mat-option [value]="standard.id">
                                        {{standard.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>-->
                            <input
                                matInput
                                [formControlName]="'standard'">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <ng-container>
            <div class="flex items-center justify-between mt-4">
                <!-- Close -->
                <button
                    mat-flat-button
                    matDialogClose>
                    닫기
                </button>
                <!-- Save -->
                <button
                    mat-flat-button
                    (click)="itemCreate()">
                    등록
                </button>
            </div>
        </ng-container>
    </div>

    <div #daum_popup style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img (click)="closeDaumPopup()" src="//t1.daumcdn.net/postcode/resource/images/close.png" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1;width: 6%;" />
    </div>
</div>
