<div class="flex flex-col flex-auto md:w-280 md:min-w-280 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">이용약관</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="m-6">
        <p>
            온라인 이용 약관과 업무처리규칙 및 SAS(이하 “약관” )은 ㈜팀플랫(이하 “메디로” )와 팀플랫이 제공하는 제품, 소프트웨어, 인적 서비스, 기능 등(이하 “서비스” )을 팀플랫의 서비스 웹사이트(이하 “서비스 웹사이트”) 상에서 이용하고자 본 약관에 동의하는 주체(“고객”) 간 의무와 권리 및 책임사항을 정하고 있습니다.
        </p>
        <br>
        <ul class="ml-3">
            <li>
                * 수집 항목 - 이름, 모바일, 이메일, 전화번호
            </li>
            <li>
                * 수집목적 - 서비스 사용을 위한 신규코드 발급, 서비스 이용안내 전화 연락, 가입신청 확인 안내메일/SMS 발송
            </li>
            <li>
                * 보유 및 이용기간 - 매년 1월 1일 기준으로 과거 1개년 이전 정보 자동 삭제 처리
            </li>
        </ul>
        <br>
        <p>위 사항에 대한 동의가 없는 경우 회사에서 제공하는 서비스를 신청하거나 가입하는 것이 불가능 할 수 있습니다.</p>
    </div>
</div>
