<div class="flex flex-col flex-auto md:w-280 md:min-w-280 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">이용약관</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="m-6">
        <p>
            온라인 이용 약관과 업무처리규칙 및 SAS(이하 “약관” )은 ㈜팀플랫(이하 “메디로” )와 팀플랫이 제공하는 제품, 소프트웨어, 인적 서비스, 기능 등(이하 “서비스” )을 팀플랫의 서비스 웹사이트(이하 “서비스 웹사이트”) 상에서 이용하고자 본 약관에 동의하는 주체(“고객”) 간 의무와 권리 및 책임사항을 정하고 있습니다.
        </p>
        <br>
        <p>제1조(약관의 효력)</p>
        <ul class="ml-3">
            <li>1. 본 약관은 온라인 이용약관과 업무처리규칙 및 SAS로 구성되며 고객이 팀플랫에 가입신청을 하고, 팀플랫이 가입을 승낙한 때부터 효력을 발생합니다.</li>
            <li>2. 고객이 대리인(가족, 고용인을 포함하되, 이에 한하지 않음)을 통하여 약관에 동의하고 가입신청 하는 경우에도 대리인은 계약상, 법률상 고객을 대리할 정당한 권한을 보유 하였음을 보증하고, 고객은 약관에 동의하고 준수할 것임을 보증합니다.</li>
            <li>3. 고객이 약관에 동의하는 것은 고객의 고용인들과 지점, 관계사, 협력사, 거래처 등 고객으로 인해 본 서비스를 이용하는 모든 사용자로 하여금 본 약관을 준수하게 할 책임이 있다는 것을 의미합니다.</li>
        </ul>
        <p>제2조(약관의 변경)</p>
        <ul class="ml-3">
            <li>1. 팀플랫는 약관을 수시로 변경할 수 있으며, 웹 사이트에 게재한 때로부터 변경된 약관이 적용됩니다.</li>
            <li>2. 고객은 서비스를 계속 이용함으로써 변경된 약관에 동의하는 것으로 간주합니다. 다만, 고객에게 현저히 불리하게 변경된 약관의 내용은 고객에게 전자쪽지 등의 전자적 수단으로 개별 통지하며, 통지한 날로부터 3일 이내에 고객이 이의를 제기하지 않거나 통지한 이후에도 서비스를 계속 이용하면 상기 기간이 도과한 때 또는 계속 이용한 때부터 변경된 약관에 동의한 것으로 간주합니다.</li>
        </ul>
        <br>
        <p>위 사항에 대한 동의가 없는 경우 회사에서 제공하는 서비스를 신청하거나 가입하는 것이 불가능 할 수 있습니다.</p>
    </div>
</div>
