@import "../../@teamplat/styles/realgrid-angular-material.scss";
.rg-grid {
    border-top: 1px solid #D2D5DA;
    border-bottom: 1px solid #D2D5DA;
    border-right: 1px solid #D2D5DA;
    border-left: 1px solid #D2D5DA;
}

.rg-focused-cell{
    //background: #FF00ff;
}

//.rg-focused-row{
//    background: #45AAB4;
//    color: #FFFFFF;
//}
//
//.rg-focus-line{
//    background: #45AAB4;
//    color: #FFFFFF;
//}

