<div
    class="range"
    (click)="openPickerPanel()"
    #pickerPanelOrigin>

    <div class="start">
        <div class="date">{{range.startDate | date:'YYYY.MM.d' }}</div>
        <div
            class="time"
            *ngIf="range.startTime">{{range.startTime}}</div>
        <mat-icon
            class="ml-2"
            [svgIcon]="'date_range'"></mat-icon>
    </div>

    <div class="separator">~</div>

    <div class="end">
        <div class="date">{{range.endDate | date:'YYYY.MM.d' }}</div>
        <div
            class="time"
            *ngIf="range.endTime">{{range.endTime}}</div>
        <mat-icon
            class="ml-2"
            [svgIcon]="'date_range'"></mat-icon>
    </div>
</div>
<div [hidden]="rangeHidden">
    <mat-button-toggle-group class="mediro-group-btn" name="Date Button Group" aria-label="Date Button Group">
        <mat-button-toggle (click)="clickDate('today')">오늘</mat-button-toggle>
        <mat-button-toggle (click)="clickDate('week')">1주</mat-button-toggle>
        <mat-button-toggle (click)="clickDate('1mon')">1개월</mat-button-toggle>
        <mat-button-toggle (click)="clickDate('3mon')">3개월</mat-button-toggle>
        <mat-button-toggle (click)="clickDate('6mon')">6개월</mat-button-toggle>
        <!--        <mat-button-toggle (click)="clickDate('1year')">1년</mat-button-toggle>-->
    </mat-button-toggle-group>
</div>
<div [hidden]="rangemon">
    <mat-form-field class="flex fuse-mat-dense fuse-mat-no-subscript pr-2 ml-4"
                    style="margin-top: -21px;">
        <mat-label></mat-label>
        <mat-select [formControlName]="'year'">
            <ng-container *ngFor="let year of year">
                <mat-option (click)="selectYear(year.id)" [value]="year.id">
                    {{year.name}}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
</div>
<div [hidden]="rangemon">
    <mat-button-toggle-group class="mediro-group-btn" name="Date Button Group"
                             aria-label="Date Button Group"
                             style="height: 30px;">
        <mat-button-toggle (click)="selectDate(1)">1</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(2)">2</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(3)">3</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(4)">4</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(5)">5</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(6)">6</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(7)">7</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(8)">8</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(9)">9</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(10)">10</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(11)">11</mat-button-toggle>
        <mat-button-toggle (click)="selectDate(12)">12</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<ng-template #pickerPanel>

    <!-- Start -->
    <div class="start">

        <div class="month">
            <div class="month-header">
                <button
                    class="previous-button"
                    mat-icon-button
                    (click)="prev()"
                    tabindex="1">
                    <mat-icon [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
                </button>
                <div class="month-label">{{getMonthLabel(1)}}</div>
            </div>
            <mat-month-view
                [(activeDate)]="activeDates.month1"
                [dateFilter]="dateFilter()"
                [dateClass]="dateClass()"
                (click)="$event.stopImmediatePropagation()"
                (selectedChange)="onSelectedDateChange($event)"
                #matMonthView1>
            </mat-month-view>
        </div>

        <mat-form-field
            class="fuse-mat-no-subscript time start-time"
            *ngIf="timeRange">
            <input
                matInput
                [autocomplete]="'off'"
                [formControl]="startTimeFormControl"
                (blur)="updateStartTime($event)"
                tabindex="3">
            <mat-label>Start time</mat-label>
        </mat-form-field>

    </div>

    <!-- End -->
    <div class="end">

        <div class="month">
            <div class="month-header">
                <div class="month-label">{{getMonthLabel(2)}}</div>
                <button
                    class="next-button"
                    mat-icon-button
                    (click)="next()"
                    tabindex="2">
                    <mat-icon [svgIcon]="'heroicons_outline:chevron-right'"></mat-icon>
                </button>
            </div>
            <mat-month-view
                [(activeDate)]="activeDates.month2"
                [dateFilter]="dateFilter()"
                [dateClass]="dateClass()"
                (click)="$event.stopImmediatePropagation()"
                (selectedChange)="onSelectedDateChange($event)"
                #matMonthView2>
            </mat-month-view>
        </div>

        <mat-form-field
            class="fuse-mat-no-subscript time end-time"
            *ngIf="timeRange">
            <input
                matInput
                [formControl]="endTimeFormControl"
                (blur)="updateEndTime($event)"
                tabindex="4">
            <mat-label>End time</mat-label>
        </mat-form-field>

    </div>

</ng-template>
