@import "../../../../../@teamplat/styles/realgrid-angular-material.scss";

.upload-btn-label {
    background-color: #3490DD !important;
    color: white;
    padding: 0.3rem;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}
