<div class="flex flex-col flex-auto min-w-0" style="background-color: #DFE1E5">
    <!-- Loader -->
    <div
        class="flex flex-col inset-x-0 bottom-0"
        *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Main -->
    <div class="flex-auto my-tb mx-lr sm:mx-lr">
        <div [ngClass]="{'grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-2 w-full min-w-0 grid-rows-mob': isMobile,
                            'grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-6 w-full min-w-0 h-full grid-rows' : !isMobile}">
            <!-- 견적 -->
            <div [ngClass]="{'height-mob' : isMobile}"
                 class="flex flex-col sm:col-span-1 flex-auto p-4 bg-card shadow rounded-md cursor-pointer overflow-hidden h-full dashboards-background">
                <div [ngClass]="{'dash-margin':isMobile}" class="flex m-auto">
                    <mat-icon style="color: white;" [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                    <div class="text-7xl sm:text-8xl tracking-tight leading-none text-18s" style="margin: auto 10px;">
                        <div class="white-font-color text-bold-550">
                            견적
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex flex-col w-full">
                        <div class="flex-auto grid grid-cols-4 text-center">
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">작 성</span>
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">요 청</span>
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">재요청</span>
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">미확정</span>
                            <div (click)="goPage({gbn: 'QT' , status: 'N'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{qtInfo.nCnt}}</div>
                            <div (click)="goPage({gbn: 'QT' , status: 'S'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{qtInfo.sCnt}}</div>
                            <div (click)="goPage({gbn: 'QT' , status: 'QR'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{qtInfo.rsCnt}}</div>
                            <div (click)="goPage({gbn: 'QT' , status: 'CFA'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{qtInfo.cfaCnt}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 발주 -->
            <div [ngClass]="{'mt-2 height-mob': isMobile}"
                 class="flex flex-col sm:col-span-1 flex-auto p-4 bg-card shadow rounded-md cursor-pointer overflow-hidden h-full dashboards-background">
                <div [ngClass]="{'dash-margin':isMobile}" class="flex m-auto">
                    <mat-icon style="color: white;" [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    <div class="text-7xl sm:text-8xl tracking-tight leading-none text-18s" style="margin: auto 10px;">
                        <div class="white-font-color text-bold-550">
                            발주
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex flex-col w-full">
                        <div class="flex-auto grid grid-cols-3 text-center">
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">작 성</span>
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">발 송</span>
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">미확정</span>
                            <div (click)="goPage({gbn: 'PO' , status: 'N'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{poInfo.nCnt}}</div>
                            <div (click)="goPage({gbn: 'PO' , status: 'S'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{poInfo.sCnt}}</div>
                            <div (click)="goPage({gbn: 'PO' , status: 'CFA'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{poInfo.cfaCnt}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 주문 -->
            <div [ngClass]="{'mt-2 height-mob': isMobile}"
                 class="flex flex-col sm:col-span-1 flex-auto p-4 bg-card shadow rounded-md cursor-pointer overflow-hidden h-full dashboards-background">
                <div [ngClass]="{'dash-margin':isMobile}" class="flex m-auto">
                    <mat-icon style="color: white;" [svgIcon]="'heroicons_outline:truck'"></mat-icon>
                    <div class="text-7xl sm:text-8xl tracking-tight leading-none text-18s" style="margin: auto 10px;">
                        <div class="white-font-color text-bold-550">
                            주문
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex flex-col w-full">
                        <div class="flex-auto grid grid-cols-2 text-center">
                        <span [ngClass]="{'text-10s' : isMobile}"
                              class="text-12s white-font-color text-bold-550">접 수</span>
                            <span [ngClass]="{'text-10s' : isMobile}"
                                  class="text-12s white-font-color text-bold-550">등 록</span>
                            <div (click)="goPage({gbn: 'SO' , status: 'N'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{soInfo.nCnt}}</div>
                            <div (click)="goPage({gbn: 'SO' , status: 'S'})"
                                 class="dashboards-step flex-col sm:col-span-1 flex-auto">{{soInfo.sCnt}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 입출고 -->
            <div [ngClass]="{'mt-2': isMobile}"
                 class="flex flex-col sm:col-span-1 flex-auto bg-card shadow rounded-md cursor-pointer overflow-hidden h-auto">
                <div [ngClass]="{'my-tb' : isMobile}" class="flex flex-col">
                    <div class="text-7xl sm:text-8xl tracking-tight leading-none text-18s text-bold">
                        <div class="text-center m-05">입/출고 관리</div>
                    </div>
                    <hr style="margin: 0px !important; border-bottom-width: 2px;">
                </div>
                <div [ngClass]="{'my-tb' : isMobile}"
                     class="grid grid-cols-2 lg:grid-cols-2 grid-flow-row w-full cursor-pointer m-auto">
                    <div class="flex flex-col flex-auto col-span-1 m-auto">
                        <canvas id="in_chart" width="110px" height="110px" baseChart>
                        </canvas>
                    </div>
                    <div class="flex flex-col flex-auto col-span-1 m-auto">
                        <canvas id="out_chart" width="110px" height="110px" baseChart>
                        </canvas>
                    </div>
                    <div class="flex flex-col flex-auto col-span-1">
                        <div (click)="goPage({gbn: 'IB' , status: 'N,P,S'})"
                             class="flex col-span-2 m-auto center-cell-text my-tb-05">
                            <div class="span-border text-12s text-bold-550"
                                 style="color: #303236; width: 60px !important; height: 25px !important; padding: 0.2rem">
                                미확정
                            </div>
                            <div class="span-border text-12s text-bold-550"
                                 style="background-color: #DBDDE2; color: #303236; width: 60px !important; height: 25px !important; padding: 0.2rem">{{ibInfo.pCnt + ibInfo.sCnt + ibInfo.nCnt}}
                                건
                            </div>
                        </div>
                        <div class="flex col-span-2 m-auto center-cell-text">
                            <div [ngClass]="{'text-10s':isMobile}" class="text-11s text-bold-550 mt-05"
                                 style="color: #8F95A0">
                                <span class="dash-hover-gray" (click)="goPage({gbn: 'IB' , status: 'N'})">
                                    접수: {{ibInfo.nCnt}}</span> /
                                <span class="dash-hover-gray" (click)="goPage({gbn: 'IB' , status: 'P'})">
                                    작업중: {{ibInfo.pCnt}}</span> /
                                <span class="dash-hover-gray" (click)="goPage({gbn: 'IB' , status: 'S'})">
                                    작업완료: {{ibInfo.sCnt}}</span>

                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto col-span-1 m-auto">
                        <div (click)="goPage({gbn: 'OB' , status: 'N,P,S'})"
                             class="flex col-span-2 m-auto center-cell-text my-tb-05">
                            <div class="span-border text-12s text-bold-550"
                                 style="color: #303236; width: 60px !important; height: 25px !important; padding: 0.2rem">
                                미확정
                            </div>
                            <div class="span-border text-12s text-bold-550"
                                 style="background-color: #DBDDE2; color: #303236; width: 60px !important; height: 25px !important; padding: 0.2rem">{{obInfo.pCnt + obInfo.sCnt + obInfo.nCnt}}
                                건
                            </div>
                        </div>
                        <div class="flex col-span-2 m-auto center-cell-text">
                            <div [ngClass]="{'text-10s':isMobile}" class="text-11s text-bold-550 mt-05"
                                 style="color: #8F95A0">
                                                <span class="dash-hover-gray"
                                                      (click)="goPage({gbn: 'OB' , status: 'N'})">
                                                    접수: {{obInfo.nCnt}}</span> /
                                <span class="dash-hover-gray" (click)="goPage({gbn: 'OB' , status: 'P'})">
                                                    작업중: {{obInfo.pCnt}}</span> /
                                <span class="dash-hover-gray" (click)="goPage({gbn: 'OB' , status: 'S'})">
                                                    작업완료: {{obInfo.sCnt}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 정산 -->
            <div [ngClass]="{'mt-2': isMobile}"
                 class="flex flex-col sm:col-span-2 flex-auto bg-card shadow rounded-md cursor-pointer overflow-hidden h-auto">
                <div [ngClass]="{'my-tb' : isMobile}" class="flex flex-col">
                    <div class="text-7xl sm:text-8xl tracking-tight leading-none text-18s text-bold">
                        <div class="text-center m-05">정산</div>
                    </div>
                    <hr style="margin: 0px !important; border-bottom-width: 2px;">
                </div>
                <div class="font-medium text-secondary text-bold text-9s text-left"
                     style="margin: 0.5rem 0px 0px 1.5rem; color: #9ca0a9!important;">단위 (천원)
                </div>
                <div
                    class="grid grid-cols-6 lg:grid-cols-6 grid-flow-row w-full cursor-pointer m-auto">
                    <div [ngClass]="{'flex flex-col flex-auto col-span-6 p-4': isMobile,
                                    'flex flex-col flex-auto col-span-4 ml-6': !isMobile}">
                        <div class="chart_css h-full">
                            <canvas id="bill_chart" baseChart width="580px" height="150px">
                            </canvas>
                        </div>
                    </div>
                    <div [ngClass]="{'flex flex-col col-span-6 p-4': isMobile,
                                    'flex flex-col col-span-2': !isMobile}" class="m-auto">
                        <div class="grid grid-cols-1 lg:grid-cols-1 grid-flow-row w-full cursor-pointer">
                            <div id="billbuy" class="flex col-span-1 center-cell-text m-auto items-center">
                                <div class="span-border text-12s text-bold-550 p-02" (click)="billBuy()"
                                     [ngClass]="{'bill-sal' : buybool, 'bill' : !buybool}"
                                     style="width: 75px !important; height: 23px !important;">
                                    <span>매입</span>
                                </div>
                                <div class="span-border text-12s text-bold-550 p-02"
                                     [ngClass]="{'bill-sal' : salbool, 'bill' : !salbool}" (click)="billSal()"
                                     style="width: 75px !important; height: 23px !important;">
                                    <span>매출</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-1 grid-flow-row w-full cursor-pointer">
                            <div *ngIf="buybool"
                                 class="col-span-1 margin_top flex items-center justify-center text-12s text-bold-600 udi-color">
                                총&nbsp;&nbsp;&nbsp;
                                <span style="color: #277EC3!important;">{{this.priceToString(this.buy)}}</span>&nbsp;&nbsp;&nbsp;&nbsp;원
                            </div>
                            <div *ngIf="salbool"
                                 class="col-span-1 margin_top flex items-center justify-center text-12s text-bold-600 udi-color">
                                총&nbsp;&nbsp;&nbsp;
                                <span style="color: #277EC3;">{{this.priceToString(this.sal)}}</span>&nbsp;&nbsp;&nbsp;&nbsp;원
                            </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-1 grid-flow-row cursor-pointer">
                            <div (click)="goPage({gbn: 'BILL' , status: 'ALL'})"
                                 class="flex col-span-1 margin_top items-center dash-hover-gray bill text-12s text-bold-550">
                                실적집계&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{billInfo.totalCnt}}&nbsp;건
                            </div>
                        </div>
                        <div class="grid grid-cols-1 lg:grid-cols-1 grid-flow-row cursor-pointer">
                            <div (click)="goPage({gbn: 'TAX' , status: 'ALL'})"
                                 class="flex col-span-1 margin_top items-center bill text-12s dash-hover-gray text-bold-550">
                                계산서
                                미발행&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{billInfo.invoiceCnt}}&nbsp;건
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 공급내역 보고 -->
            <div [ngClass]="{'mt-2': isMobile}"
                 class="flex flex-col sm:col-span-1 flex-auto bg-card shadow rounded-md cursor-pointer overflow-hidden h-auto">
                <div [ngClass]="{'my-tb' : isMobile}" class="flex flex-col">
                    <div class="text-7xl sm:text-8xl tracking-tight leading-none text-18s text-bold">
                        <div class="text-center m-05">공급내역 보고</div>
                    </div>
                    <hr style="margin: 0px !important; border-bottom-width: 2px;">
                </div>
                <div class="font-medium text-secondary text-bold text-9s mr-2 text-right"></div>
                <div [ngClass]="{'flex-col' : isMobile}" class="w-full m-auto" style="padding: 0rem 0rem 0rem 1rem;">
                    <div [ngClass]="{'flex-col' : isMobile}" class="flex items-center">
                        <div [ngClass]="{'w-45 my-tb' : !isMobile}" class="center-cell-text">
                            <div class="span-border text-12s text-bold-550 w-1/2 float-left p-02" (click)="udiLast()"
                                 style="width: 75px !important; height: 23px !important;"
                                 [ngClass]="{'bill-sal' : udiLastMonth, 'bill' : !udiLastMonth}">전월
                            </div>
                            <div class="span-border text-12s text-bold-550 w-1/2 float-left p-02" (click)="udiThis()"
                                 style="width: 75px !important; height: 23px !important;"
                                 [ngClass]="{'bill-sal' : udiThisMonth, 'bill' : !udiThisMonth}">당월
                            </div>
                        </div>
                        <div class="flex ml-4 text-bold udi-color">{{udiMonth}}월보고&nbsp;&nbsp;&nbsp;
                            <span class="text-bold" style="color: #277EC3!important;">{{udiLastDay}}</span>
                            &nbsp;&nbsp;남았습니다.
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-4 lg:grid-cols-4 grid-flow-row gap-2 w-full cursor-pointer m-auto">
                    <div class="flex flex-col p-4 col-span-1">
                        <div class="flex-auto grid grid-cols-1 w-full text-12s text-bold-550">
                            <div class="col-span-2 mb_5 udi-color">1등급</div>
                            <div class="col-span-2 mb_5 udi-color">2등급</div>
                            <div class="col-span-2 mb_5 udi-color">3등급</div>
                            <div class="col-span-2 mb_5 udi-color">4등급</div>
                        </div>
                    </div>
                    <div *ngIf="udiThisMonth" class="flex flex-col p-4 col-span-1">
                        <div class="flex-auto grid grid-cols-1 text-12s text-bold-550">
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{nowCnt.oCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{nowCnt.tCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{nowCnt.thCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{nowCnt.fCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                        </div>
                    </div>
                    <hr *ngIf="!isMobile"
                        style="border-left: solid #DBDDE2; height: 22%; left: 17.5%; top: 69%; position: absolute;">
                    <div *ngIf="udiLastMonth" class="flex flex-col p-4 col-span-1">
                        <div class="flex-auto grid grid-cols-1 text-12s text-bold-550">
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{eveCnt.oCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{eveCnt.tCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{eveCnt.thCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div class="col-span-2 mb_5 udi-status-color right-cell-text">{{eveCnt.fCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                        </div>
                    </div>
                    <div class="flex flex-col col-span-1 m-auto">
                        <div class="flex-auto grid grid-cols-1 text-12s text-bold-550">
                            <div class="col-span-2 mb_5 udi-color">실패내역</div>
                            <div class="col-span-2 mb_5 udi-color">반품</div>
                            <div class="col-span-2 mb_5 udi-color">보고내역</div>
                        </div>
                    </div>
                    <div *ngIf="udiLastMonth" class="flex flex-col p-4 col-span-1 m-auto">
                        <div class="flex-auto grid grid-cols-1 text-12s text-bold-550">
                            <div id="lastError" (click)="goPage({gbn: 'error_UDI' , status: ''})"
                                 class="col-span-2 mb_5 udi-status-color udi-hover right-cell-text">{{errEveCnt}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div (click)="goPage({gbn: 'UDI_RTN' , status: '2'})"
                                 class="col-span-2 mb_5 udi-status-color udi-hover right-cell-text">{{eveRtn}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div (click)="goPage({gbn: 'UDI' , status: ''})"
                                 class="col-span-2 mb_5 udi-status-color udi-hover right-cell-text">{{eveRpt}}&nbsp;<span
                                class="udi-color">건</span></div>
                        </div>
                    </div>
                    <div *ngIf="udiThisMonth" class="flex flex-col p-4 col-span-1 m-auto">
                        <div class="flex-auto grid grid-cols-1 text-12s text-bold-550">
                            <div (click)="goPage({gbn: 'error_UDI' , status: ''})"
                                 class="col-span-2 mb_5 udi-status-color udi-hover right-cell-text">{{errNowCnt}}&nbsp;
                                <span class="udi-color">건</span>
                            </div>
                            <div (click)="goPage({gbn: 'UDI_RTN' , status: '2'})"
                                 class="col-span-2 mb_5 udi-status-color udi-hover right-cell-text">{{nowRtn}}&nbsp;<span
                                class="udi-color">건</span></div>
                            <div (click)="goPage({gbn: 'UDI' , status: ''})"
                                 class="col-span-2 mb_5 udi-status-color udi-hover right-cell-text">{{nowRpt}}&nbsp;<span
                                class="udi-color">건</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 재고 -->
            <div [ngClass]="{'mt-2': isMobile}"
                 class="flex flex-col sm:col-span-2 flex-auto bg-card shadow rounded-md cursor-pointer overflow-hidden h-auto">
                <div [ngClass]="{'my-tb' : isMobile}" class="flex flex-col">
                    <div class="text-7xl sm:text-8xl tracking-tight leading-none text-18s text-bold">
                        <div class="text-center m-05">재고</div>
                    </div>
                    <hr style="margin: 0px !important; border-bottom-width: 2px;">
                </div>
<!--                <div class="font-medium text-12s text-bold-600 text-secondary udi-color" [ngClass]="{'text-right mr-2 mt-05':!isMobile,-->
<!--                                    'm-auto':isMobile}">총&nbsp;&nbsp;&nbsp;-->
<!--                    <span style="color: #277EC3!important;">{{priceToString(stockTotalPrice)}}</span>&nbsp;&nbsp;&nbsp;원-->
<!--                </div>-->
                <div class="grid grid-cols-7 lg:grid-cols-7 grid-flow-row gap-2 w-full cursor-pointer m-auto">
                    <div [ngClass]="{'flex w-full col-span-7 p-4': isMobile,
                                    'flex w-full col-span-2 p-2 m-auto': !isMobile}">
                        <div [ngClass]="{'widht-38': isMobile,
                                    'w-1/2': !isMobile}" class="flex flex-col float-left ml-8 text-bold-550">
                            <div class="mb_4 text-12s udi-color">0등급</div>
                            <div class="mb_4 text-12s udi-color">1등급</div>
                            <div class="mb_4 text-12s udi-color">2등급</div>
                            <div class="mb_4 text-12s udi-color">3등급</div>
                            <div class="mb_4 text-12s udi-color">4등급</div>
                            <div class="mb_4 text-12s udi-color">기 타</div>
                            <hr style="margin: 7px 0; border-bottom-width: 1px; width: 100%">
                            <div class="mt-1-3 text-14s udi-color">합 계</div>
                        </div>
                        <div [ngClass]="{'widht-38': isMobile,
                                    'w-1/2': !isMobile}" class="flex flex-col w-1/2 float-left mr-8 text-bold-550">
                            <div class="mb_4 text-12s udi-status-color right-cell-text udi-hover"
                                 (click)="goPage({gbn: 'STOCK' , status: '0'})">{{priceToString(availQty.zCnt)}}&nbsp;<span
                                class="udi-color text-12s">개</span></div>
                            <div class="mb_4 text-12s udi-status-color right-cell-text udi-hover"
                                 (click)="goPage({gbn: 'STOCK' , status: '1'})">{{priceToString(availQty.oCnt)}}&nbsp;<span
                                class="udi-color text-12s">개</span></div>
                            <div class="mb_4 text-12s udi-status-color right-cell-text udi-hover"
                                 (click)="goPage({gbn: 'STOCK' , status: '2'})">{{priceToString(availQty.tCnt)}}&nbsp;<span
                                class="udi-color text-12s">개</span></div>
                            <div
                                class="mb_4 text-12s udi-status-color right-cell-text udi-hover"
                                (click)="goPage({gbn: 'STOCK' , status: '3'})">{{priceToString(availQty.thCnt)}}&nbsp;<span
                                class="udi-color text-12s">개</span></div>
                            <div class="mb_4 text-12s udi-status-color right-cell-text udi-hover"
                                 (click)="goPage({gbn: 'STOCK' , status: '4'})">{{priceToString(availQty.fCnt)}}&nbsp;<span
                                class="udi-color text-12s">개</span></div>
                            <div
                                class="mb_4 text-12s udi-status-color right-cell-text udi-hover"
                                (click)="goPage({gbn: 'STOCK' , status: '-'})">{{priceToString(availQty.etcCnt)}}&nbsp;<span
                                class="udi-color text-12s">개</span></div>
                            <hr style="margin: 7px 0; border-bottom-width: 1px; width: 100%">
                            <div class="mt-1-3 text-14s right-cell-text udi-hover udi-status-color"
                                 (click)="goPage({gbn: 'STOCK' , status: 'ALL'})">{{priceToString(sumAvailQty)}}&nbsp;<span
                                class="udi-color text-14s">개</span></div>
                        </div>
                    </div>
                    <hr *ngIf="!isMobile"
                        style="border-left: solid #DBDDE2; height: 28%; left: 51.3%; top: 62%; position: absolute;">
                    <div [ngClass]="{'flex flex-col col-span-7 p-4': isMobile,
                                    'flex flex-col w-full col-span-3 m-auto': !isMobile}">
                        <div class="flex h-full">
                            <canvas class="flex" id="stock_chart">
                            </canvas>
                        </div>
                    </div>
                    <div [ngClass]="{'flex flex-col col-span-7 p-2': isMobile,
                                    'flex flex-col w-full col-span-2': !isMobile}">
                        <table border="2" style="border: 2px solid #ffffff; width: 88%; height: 88%; margin: auto;">
                            <tr style="background-color:#9186D0; color: #ffffff;">
                                <th colspan="1">재고</th>
                                <th colspan="1">수량<span style="font-size: 11px">(개)</span></th>
                                <th colspan="1">금액<span style="font-size: 11px">(천원)</span></th>
                            </tr>
                            <tbody style="text-align: center">
                            <tr style="font-size: 12px">
                                <td style="background-color:#f1dcff; font-weight: bold;">불용</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(unusedQtyTotal)}}</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(unusedQtyTotalPrice)}}</td>
                            </tr>
                            <tr style="font-size: 12px">
                                <td style="background-color:#f1dcff; font-weight: bold;">가납</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(acceptableTotal)}}</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(acceptableTotalPrice)}}</td>
                            </tr>
                            <tr style="font-size: 12px">
                                <td style="background-color:#f1dcff; font-weight: bold;">보유</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(sumAvailQty)}}</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(availQtyPrice)}}</td>
                            </tr>
                            <tr style="font-size: 12px">
                                <td style="background-color:#f1dcff; font-weight: bold;">힙계</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(sumAvailQty + acceptableTotal + unusedQtyTotal)}}</td>
                                <td style="background-color:#dddddd; font-weight: bold;">{{priceToString(stockTotalPrice)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
