table {
    width: 100%;
    border: 1px solid #ffffff;
    height: 100%;
}
th, tr, td {
    border: 1px solid #ffffff;
}
//div {
//    font-family: 'NanumGothicExtraBold';
//}

//div {
//    font-family: 'godoMaum';
//}

//div {
//    font-family: 'BMHANNAPro';
//}

//div {
//    font-family: 'YdestreetB';
//}
