<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="dark bg-card dark:border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8 mediro-detail-top-bg">
            <div class="flex flex-row sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-4">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-12 overflow-hidden">
                        <button
                            class="mr-2"
                            mat-icon-button
                            (click)="backPage()">
                            <mat-icon class="icon-size-9" [svgIcon]="'feather:arrow-left-circle'"></mat-icon>
                        </button>
                    </div>
                    <div class="flex flex-col min-w-0 ml-2">
                        <div class="text-2xl md:text-2xl tracking-tight leading-7 md:leading-snug truncate">
                            발주 작성
                        </div>
                    </div>
                </div>
                <div class="flex items-center mt-0 ml-2 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded mediro-btn-custom mediro-btn-custom-background-color"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="latelyOrder()">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                        <span class="ml-2 mr-1 mediro-font-custom">최근 발주서</span>
                    </button>
                    <button
                        class="fuse-mat-button-rounded mediro-btn-custom mediro-btn-custom-background-color"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="orderSave()">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:save'"></mat-icon>
                        <span class="ml-2 mr-1 mediro-font-custom">저장</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--main-->
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden mediro-detail-form-custom">

<!--            <mat-tab-group class="flex flex-col flex-auto overflow-hidden"-->
<!--                           [color]="'accent'"-->
<!--                           [backgroundColor]="'accent'"-->
<!--                           [animationDuration]="'0'">-->
<!--                <mat-tab label="상세 정보">-->

<!--                </mat-tab>-->
<!--                <mat-tab label="최근 발주서">-->

<!--                </mat-tab>-->
<!--            </mat-tab-group>-->

            <as-split direction="vertical">
                <as-split-area [size]="40">
                    <div class="flex pt-4 pl-4 pr-4">
                        <!-- Selected product form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="orderHeaderForm">
                            <div class="flex p-2">
                                <div class="flex flex-auto">
                                    <div class="flex flex-col w-full pr-0">
                                        <div class="grid sm:grid-cols-6 gap-2 w-full sm:pr-2 mt-2">
                                            <mat-form-field class="sm:col-span-2 mediro-form-field-custom">
                                                <mat-label>발주 번호</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'poNo'">
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-2 mediro-form-field-custom">
                                                <mat-label>공급처 코드
                                                    <mat-icon class="icon-size-3 icon-red"
                                                              svgIcon="heroicons_solid:check-circle"></mat-icon>
                                                </mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'account'"
                                                    (click)="openAccountSearch()">
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-2 mediro-form-field-custom">
                                                <mat-label>공급처 명
                                                    <mat-icon class="icon-size-3 icon-red"
                                                              svgIcon="heroicons_solid:check-circle"></mat-icon>
                                                </mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'accountNm'">
                                            </mat-form-field>
                                        </div>
                                        <div class="grid sm:grid-cols-6 gap-2 w-full sm:pr-2 mt-2">
                                            <mat-form-field class="sm:col-span-1 mediro-form-field-custom">
                                                <mat-label>유형
                                                    <mat-icon class="icon-size-3 icon-red"
                                                              svgIcon="heroicons_solid:check-circle"></mat-icon>
                                                </mat-label>
                                                <mat-select [formControlName]="'type'">
                                                    <ng-container *ngFor="let type of type">
                                                        <mat-option [value]="type.id">
                                                            {{type.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-1 mediro-form-field-custom">
                                                <mat-label>상태
                                                    <mat-icon class="icon-size-3 icon-red"
                                                              svgIcon="heroicons_solid:check-circle"></mat-icon>
                                                </mat-label>
                                                <mat-select [formControlName]="'status'">
                                                    <ng-container *ngFor="let status of status">
                                                        <mat-option [value]="status.id">
                                                            {{status.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-1 mediro-form-field-custom">
                                                <mat-label>휴대 전화
                                                    <mat-icon class="icon-size-3 icon-red"
                                                              svgIcon="heroicons_solid:check-circle"></mat-icon>
                                                </mat-label>
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:phone'"
                                                    matPrefix></mat-icon>
                                                <input type="text"
                                                       matInput
                                                       [formControlName]="'cellPhoneNumber'">
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-1 mediro-form-field-custom">
                                                <mat-label>이메일
                                                    <mat-icon class="icon-size-3 icon-red"
                                                              svgIcon="heroicons_solid:check-circle"></mat-icon>
                                                </mat-label>
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:mail'"
                                                    matPrefix></mat-icon>
                                                <input type="text"
                                                       matInput
                                                       [formControlName]="'email'">
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-2 mediro-form-field-custom">
                                                <mat-label>발주 금액</mat-label>
                                                <img src="assets/icons/south-korea-won-currency-symbol.png" class="icon-won">
                                                <input class="text-right"
                                                       type="number"
                                                       matInput
                                                       [formControlName]="'poAmt'">
                                            </mat-form-field>
                                        </div>
                                        <div class="grid sm:grid-cols-6 gap-2 w-full sm:pr-2 mt-2">
                                            <mat-form-field class="sm:col-span-1 mediro-form-field-custom">
                                                <mat-label>생성일자</mat-label>
                                                <input type="date"
                                                       matInput
                                                       [formControlName]="'poCreDate'">
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-1 mediro-form-field-custom">
                                                <mat-label>발주일자</mat-label>
                                                <input type="date"
                                                       matInput
                                                       [formControlName]="'poDate'">
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-2 mediro-form-field-custom">
                                                <mat-label>납기 일자</mat-label>
                                                <input type="date"
                                                       matInput
                                                       [formControlName]="'deliveryDate'">
                                            </mat-form-field>
                                            <mat-form-field class="sm:col-span-2 mediro-form-field-custom">
                                                <mat-label>비고</mat-label>
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:document-text'"
                                                    matPrefix></mat-icon>
                                                <input type="text"
                                                       matInput
                                                       [formControlName]="'remarkHeader'">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </as-split-area>
                <as-split-area [size]="60">
                    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 pt-2 pb-2">
                        <div class="flex-row text-1xl font-extrabold tracking-tight">
                        </div>
                        <div class="flex flex-shrink-0 items-center mt-1 sm:mt-0 sm:ml-4">
                            <button
                                class="ml-2 mediro-btn-custom"
                                (click)="addRow()"
                                mat-stroked-button>
                                <mat-icon
                                    [svgIcon]="'heroicons_outline:plus-circle'"
                                ></mat-icon>
                                <span class="ml-2 mr-1">추가</span>
                            </button>
                            <button
                                class="ml-2 mediro-btn-custom"
                                (click)="delRow()"
                                mat-stroked-button>
                                <mat-icon
                                    [svgIcon]="'heroicons_outline:minus-circle'"
                                ></mat-icon>
                                <span class="ml-2 mr-1">삭제</span>
                            </button>
                            <button
                                class="ml-2 mediro-btn-custom"
                                mat-stroked-button
                                [color]="'primary'"
                                (click)="excelExport()">
                                <img src="assets/images/excel/excel_down.png">
                            </button>
                        </div>
                    </div>
                    <div
                        class="realgrid"
                        id="orderDetailGrid">
                    </div>
                </as-split-area>

            </as-split>
            <mat-paginator
                class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': false}"
                [length]="orderDetailPagenation === null ? 0 : orderDetailPagenation.length"
                [pageIndex]="orderDetailPagenation === null ? 0 : orderDetailPagenation.page"
                [pageSize]="orderDetailPagenation === null ? 0 : orderDetailPagenation.size"
                [pageSizeOptions]="[40, 60, 80, 100, 120]"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </div>
</div>
