<div class="flex flex-col flex-auto md:w-180 md:min-w-160 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary mediro-custom-background-color">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="text-lg font-medium">{{headerText}}</div>
        <button
            mat-icon-button
            (click)="_matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 justify-between pt-3 pb-2 px-6 border-b">
        <form
            [formGroup]="searchForm">
            <div class="grid sm:grid-cols-12 gap-2 w-full sm:pr-2">
                <div class="sm:col-span-3">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                        <mat-select [formControlName]="'type'">
                            <ng-container *ngFor="let type of type">
                                <mat-option [value]="type.id">
                                    {{type.name}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                        <input
                            matInput
                            [formControlName]="'searchText'"
                            [autocomplete]="'off'"
                            [placeholder]="'검색조건을 선택해주세요.'">
                    </mat-form-field>
                </div>
                <div class="sm:col-span-3" style="margin-left: 160px;">
                    &nbsp;
                </div>
                <div class="sm:col-span-2">
                    <button
                        class="w-full mediro-btn-custom mediro-btn-custom-background-color"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="select()">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <span class="ml-2 mr-1">검색</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Main -->
    <div
        style="height: 300px;"
        class="realgrid"
        id="popupGrid">

    </div>
    <mat-paginator
        class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': false}"
        [length]="pagenation === null ? 0 : pagenation.length"
        [pageIndex]="pagenation === null ? 0 : pagenation.page"
        [pageSize]="pagenation === null ? 0 : pagenation.size"
        [pageSizeOptions]="[1000]"
        (page)="pageEvent($event)"
        [showFirstLastButtons]="true"></mat-paginator>
</div>

