<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-12 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary mediro-custom-background-color">
        <div class="text-lg font-medium">공급내역 보고 이메일 전송</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Alert -->
    <fuse-alert
        class="mt-4 -mb-4 mr-12 ml-12"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
    </fuse-alert>
    <div class="m-4">
        <form
            class="flex flex-col border-b"
            [formGroup]="selectedForm">
            <div class="p-4 sm:p-4">
                <div class="grid sm:grid-cols-4 gap-2 w-full sm:pr-2">
                    <div class="sm:col-span-2">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>년<mat-icon class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon></mat-label>
                            <mat-select [formControlName]="'year'">
                                <ng-container *ngFor="let year of year">
                                    <mat-option [value]="year.id">
                                        {{year.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>월<mat-icon class="icon-size-3 icon-red" svgIcon="heroicons_solid:check-circle"></mat-icon></mat-label>
                            <mat-select [formControlName]="'month'">
                                <ng-container *ngFor="let month of month">
                                    <mat-option [value]="month.id">
                                        {{month.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="grid sm:grid-cols-4 gap-2 w-full sm:pr-2">
                    <div class="sm:col-span-2">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>거래처 코드
                                <mat-icon class="icon-size-3 icon-red"
                                          svgIcon="heroicons_solid:check-circle"></mat-icon>
                            </mat-label>
                            <input
                                matInput
                                [formControlName]="'account'"
                                (click)="openAccountSearch()">
                        </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>거래처 명
                                <mat-icon class="icon-size-3 icon-red"
                                          svgIcon="heroicons_solid:check-circle"></mat-icon>
                            </mat-label>
                            <input
                                matInput
                                [formControlName]="'accountNm'">
                        </mat-form-field>
                    </div>
                </div>
                <div class="grid sm:grid-cols-4 gap-2 w-full sm:pr-2">
                    <div class="sm:col-span-4">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <mat-label>이메일
                                <mat-icon class="icon-size-3 icon-red"
                                          svgIcon="heroicons_solid:check-circle"></mat-icon>
                            </mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:mail'"
                                matPrefix></mat-icon>
                            <input type="text"
                                   matInput
                                   [formControlName]="'email'">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <ng-container>
            <div class="flex items-center justify-between mt-4">
                <!-- Close -->
                <button
                    mat-flat-button
                    matDialogClose>
                    닫기
                </button>
                <!-- Save -->
                <button
                    mat-flat-button
                    (click)="suplyEmail()">
                    전송
                </button>
            </div>
        </ng-container>
    </div>
</div>
