<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div  [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': showMobile,
                        'hidden lg:flex lg:flex-col lg:flex-0': showMobile}">
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 pt-4 pb-2">
            <!-- Title -->
            <div class="flex-row text-4xl font-extrabold tracking-tight">입출고 관리</div>
        </div>
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-1 pb-2 px-6 border-b">
            <!-- 검색조건 -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 mr-2">
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'유형'">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28">
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'거래처'">
                </mat-form-field>
            </div>
            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon
                        matPrefix
                        [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'상품검색'">
                </mat-form-field>
                <!-- Add product button -->
                <button
                    class="ml-2"
                    mat-flat-button
                    [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                    <span class="ml-2 mr-1">조회</span>
                </button>
                <button
                    class="ml-2"
                    mat-flat-button
                    [color]="'accent'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">신규등록</span>
                </button>
            </div>
        </div>
    </div>
    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer 추후 모바일용 고려 -->
<!--        <mat-drawer-->
<!--            class="w-100 dark:bg-gray-900"-->
<!--            [mode]="drawerMode"-->
<!--            [opened]="drawerOpened"-->
<!--            #drawer>-->
<!--            -->
<!--            <in-header></in-header>-->

<!--        </mat-drawer>-->

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Main -->
            <div class="flex flex-auto overflow-hidden">
                <router-outlet></router-outlet>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
