.manual-btn {
    width: 220px;
    height: 44px;
    background: none !important;
}
.manual-btn-child {
    width: 150px;
    height: 40px;
    background: none !important;
}
.manual-video-book {
    width: 80px;
    height: 40px;
    background: none !important;
}
.manual-btn-title {
    justify-content: left!important;
}
.manual-btn-span {
    margin-left: 12px;
    margin-right: 62px;
}
.manual-btn-span-udi {
    margin-left: 12px;
    margin-right: 38px;
}
.maual-icon {
    margin-left: 25px;
}
