<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
    <mat-drawer-container class="flex-auto sm:h-full">

        <!-- Drawer -->
        <mat-drawer
            class="w-full dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer>
            <!-- Header -->
            <div class="flex items-center justify-between m-4 mr-4 sm:my-4">
                <!-- Title -->
                <div class="text-3xl font-extrabold tracking-tight leading-none">검색조건</div>
                <!-- Close button -->
                <div class="lg:hidden">
                    <button
                        mat-icon-button
                        (click)="drawer.close()">
                        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b">
                <!-- 검색조건 -->
                <form [formGroup]="searchForm">
                    <div class="grid sm:grid-cols-4 gap-2 w-full mt-4 p-2">
                        <!-- Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full pl-4 pr-4">
                                <mat-select [formControlName]="'status'">
                                    <ng-container *ngFor="let status of status">
                                        <mat-option [value]="status.id">
                                            {{status.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full pl-4 pr-4">
                                <mat-select [formControlName]="'searchCondition'">
                                    <ng-container *ngFor="let searchCondition of searchCondition">
                                        <mat-option [value]="searchCondition.id">
                                            {{searchCondition.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full pl-4 pr-4">
                                <!--<input
                                    matInput
                                    [formControlName]="'searchText'"
                                    [autocomplete]="'off'"
                                    [placeholder]="'검색조건을 선택해주세요.'">-->
                                <ng-container *ngFor="let searchCondition of searchCondition">
                                    <input
                                        matInput
                                        [formControlName]="'searchText'"
                                        [autocomplete]="'off'"
                                        [placeholder]="searchCondition.name + ' 을 입력해주세요.'">
                                </ng-container>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <!-- Actions -->
                <div class="grid grid-cols-12 gap-2 w-full mt-4 p-2">
                    <!-- Add product button -->
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-raised-button
                            [color]="'primary'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="selectHeader()">
                            <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                            <span class="ml-2 mr-1">조회</span>
                        </button>
                    </div>
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-stroked-button
                            [color]="'primary'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="newSalesOrder()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">작성</span>
                        </button>
                    </div>
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-stroked-button
                            [color]="'accent'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="salesorderConfirm()">
                            <span class="ml-2 mr-1">확정</span>
                        </button>
                    </div>
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-stroked-button
                            [color]="'accent'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="salesorderCancel()">
                            <span class="ml-2 mr-1">취소</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
                <!-- Load settings panel -->
                <div class="mt-8">
                    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
                        <!-- Header -->
                        <div class="flex flex-col justify-between">
                            <!-- Loader -->
                            <div
                                class="absolute inset-x-0 bottom-0"
                                *ngIf="isLoading">
                                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                            </div>
                            <div class="flex items-center justify-between px-6 pt-4 pb-2">
                                <!-- Add product button -->
                                <div class="text-3xl font-extrabold tracking-tight">
                                    주문 관리</div>
                                <button
                                    class="sm:hidden -ml-2"
                                    mat-icon-button
                                    (click)="drawer.toggle()">
                                    <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="!isMobile"  class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-1 pb-2 px-6 border-b">
                            <!-- 검색조건 -->
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                                <form
                                    [formGroup]="searchForm">
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                                        <mat-select [formControlName]="'status'">
                                            <ng-container *ngFor="let status of status">
                                                <mat-option [value]="status.id">
                                                    {{status.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                                        <mat-select [formControlName]="'searchCondition'">
                                            <ng-container *ngFor="let searchCondition of searchCondition">
                                                <mat-option [value]="searchCondition.id">
                                                    {{searchCondition.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
                                        <!--<input
                                            matInput
                                            [formControlName]="'searchText'"
                                            [autocomplete]="'off'"
                                            [placeholder]="'검색조건을 선택해주세요.'">-->
                                        <ng-container *ngFor="let searchCondition of searchCondition">
                                            <input
                                                matInput
                                                [formControlName]="'searchText'"
                                                [autocomplete]="'off'"
                                                [placeholder]="searchCondition.name + ' 을 입력해주세요.'">
                                        </ng-container>
                                    </mat-form-field>
                                </form>
                            </div>
                            <!-- Actions -->
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                                <!-- Search -->
                                <button
                                    class="ml-2"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="selectHeader()">
                                    <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                                    <span class="ml-2 mr-1">조회</span>
                                </button>
                                <button
                                    class="ml-2"
                                    mat-stroked-button
                                    [color]="'primary'"
                                    (click)="newSalesOrder()">
                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    <span class="ml-2 mr-1">작성</span>
                                </button>
                                <button
                                    class="ml-2"
                                    mat-stroked-button
                                    [color]="'accent'"
                                    (click)="salesorderConfirm()">
                                    <span class="ml-2 mr-1">확정</span>
                                </button>
                                <button
                                    class="ml-2"
                                    mat-stroked-button
                                    [color]="'accent'"
                                    (click)="salesorderCancel()">
                                    <span class="ml-2 mr-1">취소</span>
                                </button>
                            </div>
                        </div>

                        <!-- Main -->
                        <div class="flex flex-auto overflow-hidden">
                            <!-- Item list -->
                            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">
                                <ng-container *ngIf="salesorderHeadersCount > 0; else noSalesOrders">
                                    <!-- Table wrapper -->
                                    <div
                                        class="overflow-x-auto sm:overflow-y-auto"
                                        cdkScrollable>
                                        <!-- Table -->
                                        <table
                                            class="w-full min-w-320 table-fixed bg-transparent"
                                            [ngClass]="{'pointer-events-none': isLoading}"
                                            mat-table
                                            matSort
                                            [matSortActive]="'accountNm'"
                                            [matSortDisableClear]="true"
                                            [matSortDirection]="'asc'"
                                            [multiTemplateDataRows]="true"
                                            [dataSource]="salesorderHeaders$"
                                            [trackBy]="trackByFn">

                                            <ng-container matColumnDef="select" sticky>
                                                <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    style="width:7%"
                                                    mat-header-cell
                                                    *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                                  [aria-label]="checkboxLabel()">
                                                    </mat-checkbox>
                                                </th>
                                                <td mat-cell *matCellDef="let row"
                                                    style="width:7%">
                                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                                  (change)="$event ? selection.toggle(row) : null"
                                                                  [checked]="selection.isSelected(row)"
                                                                  [aria-label]="checkboxLabel(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="no">
                                                <th mat-header-cell
                                                    class="mediro-th-header-checkbox"
                                                    *matHeaderCellDef
                                                    [hidden]="true">
                                                    No.
                                                </th>
                                                <td mat-cell *matCellDef="let salesorderHeader"
                                                    [hidden]="true">
                                                    {{salesorderHeader.no}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="soCreDate">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    [width]="120"
                                                    mat-sort-header
                                                    disableClear>
                                                    주문생성일자
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.soCreDate}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="soDate">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    [width]="120"
                                                    mat-sort-header
                                                    disableClear>
                                                    주문일자
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.soDate}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="soNo">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    [width]="150"
                                                    disableClear>
                                                    주문 번호
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.soNo}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="type">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    [width]="120"
                                                    disableClear>
                                                    유형
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{(salesorderHeader.type | fuseFindByKey:'id':type).name}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="status">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    [width]="150"
                                                    disableClear>
                                                    상태
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{(salesorderHeader.status | fuseFindByKey:'id':status).name}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="account">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    hidden="true"
                                                    disableClear>
                                                    거래처 코드
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.account}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="accountNm">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    [width]="200"
                                                    disableClear>
                                                    거래처 명
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.accountNm}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="email">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    [width]="200"
                                                    disableClear>
                                                    이메일
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.email}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="soAmt">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    hidden="true"
                                                    disableClear>
                                                    주문금액
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.soAmt}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="remarkHeader">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    hidden="true"
                                                    disableClear>
                                                    비고
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.remarkHeader}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="obNo">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    [width]="150"
                                                    disableClear>
                                                    출고번호
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let salesorderHeader">
                                                    {{salesorderHeader.obNo}}
                                                </td>
                                            </ng-container>
                                            <tr
                                                class="shadow"
                                                mat-header-row
                                                *matHeaderRowDef="salesorderHeadersTableColumns; sticky: true"></tr>
                                            <tr
                                                class="h-14 hover:bg-gray-100 dark:hover:bg-hover"
                                                mat-row
                                                (dblclick)="selectClickRow(orderHeader)"
                                                *matRowDef="let orderHeader; columns: salesorderHeadersTableColumns;"></tr>
                                            <!--(dblclick)="selectDoubleClickRow(orderHeader)"-->


                                        </table>
                                    </div>
                                    <mat-paginator
                                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="salesorderHeaderPagenation.length"
                                        [pageIndex]="salesorderHeaderPagenation.page"
                                        [pageSize]="salesorderHeaderPagenation.size"
                                        [pageSizeOptions]="[8, 10, 25, 100]"
                                        [showFirstLastButtons]="true"></mat-paginator>
                                </ng-container>
                                <ng-template #noSalesOrders>
                                    <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                                        <p>데이터가 없습니다.</p>
                                        <p>주문서 작성 버튼을 클릭하여 주문을 등록해 주세요.</p>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>

    </mat-drawer-container>
</div>

