<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
    <mat-drawer-container class="flex-auto sm:h-full">

        <!-- Drawer -->
        <mat-drawer
            class="w-full dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer>
            <!-- Header -->
            <div class="flex items-center justify-between m-4 mr-4 sm:my-4">
                <!-- Title -->
                <div class="text-3xl font-extrabold tracking-tight leading-none">검색조건</div>
                <!-- Close button -->
                <div class="lg:hidden">
                    <button
                        mat-icon-button
                        (click)="drawer.close()">
                        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- Panel links -->
            <div class="flex flex-col divide-y border-t border-b">
                <!-- 검색조건 -->
                <form [formGroup]="searchForm">
                    <div class="grid sm:grid-cols-4 gap-2 w-full mt-4 p-2">
                        <!-- Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full pr-4 pl-4">
                                <mat-select [formControlName]="'accountType'">
                                    <ng-container *ngFor="let accountType of accountType">
                                        <mat-option [value]="accountType.id">
                                            {{accountType.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full pr-4 pl-4">
                                <mat-select [formControlName]="'searchCondition'">
                                    <ng-container *ngFor="let searchcondition of searchCondition">
                                        <mat-option [value]="searchcondition.id">
                                            {{searchcondition.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full pr-4 pl-4">
                                <input
                                    matInput
                                    [formControlName]="'searchText'"
                                    [autocomplete]="'off'"
                                    [placeholder]="'검색조건을 선택해주세요.'">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <!-- Actions -->
                <div class="grid grid-cols-12 gap-2 w-full mt-4 p-2">
                    <!-- Add product button -->
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-raised-button
                            [color]="'primary'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="selectAccount()">
                            <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                            <span class="ml-2 mr-1">조회</span>
                        </button>
                    </div>
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-raised-button
                            [color]="'accent'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="createUdiEntrpsAccount()">
                            <span class="ml-2 mr-1">UDI 통합업체</span>
                        </button>
                    </div>
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-raised-button
                            [color]="'accent'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="createUdiAccount()">
                            <span class="ml-2 mr-1">UDI Portal 거래처 가져오기</span>
                        </button>
                    </div>
                    <div class="col-span-12">
                        <button
                            class="ml-3"
                            mat-raised-button
                            [color]="'accent'"
                            [ngStyle]="{'width': '94%'}"
                            (click)="createAccount()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">신규</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
                <!-- Load settings panel -->
                <div class="mt-8">
                    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
                        <!-- Header -->
                        <div class="flex flex-col justify-between">
                            <div class="flex items-center justify-between px-6 pt-4 pb-2">
                                <!-- Add product button -->
                                <div class="text-3xl font-extrabold tracking-tight">
                                    거래처 관리</div>
                                <button
                                    class="sm:hidden -ml-2"
                                    mat-icon-button
                                    (click)="drawer.toggle()">
                                    <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <!-- Header -->
<!--                        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 pt-4 pb-2">-->
<!--                            &lt;!&ndash; Loader &ndash;&gt;-->
<!--                            <div-->
<!--                                class="absolute inset-x-0 bottom-0"-->
<!--                                *ngIf="isLoading">-->
<!--                                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <div class="flex-row text-3xl font-extrabold tracking-tight">거래처 관리</div>-->
<!--                        </div>-->
                        <div *ngIf="!isMobile" class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-1 pb-2 px-6 border-b">
                            <!-- 검색조건 -->
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                                <form
                                    [formGroup]="searchForm">
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                                        <mat-select [formControlName]="'accountType'">
                                            <ng-container *ngFor="let accountType of accountType">
                                                <mat-option [value]="accountType.id">
                                                    {{accountType.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                                        <mat-select [formControlName]="'searchCondition'">
                                            <ng-container *ngFor="let searchcondition of searchCondition">
                                                <mat-option [value]="searchcondition.id">
                                                    {{searchcondition.name}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
                                        <input
                                            matInput
                                            [formControlName]="'searchText'"
                                            [autocomplete]="'off'"
                                            [placeholder]="'검색조건을 선택해주세요.'">
                                    </mat-form-field>
                                    <!-- Search -->
                                    <!--                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
                                    <!--                    <mat-icon-->
                                    <!--                        matPrefix-->
                                    <!--                        [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
                                    <!--                    <input-->
                                    <!--                        matInput-->
                                    <!--                        [formControlName]="'searchText'"-->
                                    <!--                        [autocomplete]="'off'"-->
                                    <!--                        [placeholder]="'상품검색'">-->
                                    <!--                </mat-form-field>-->
                                </form>
                            </div>
                            <!-- Actions -->
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                                <!-- Add product button -->
                                <button
                                    class="ml-2"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="selectAccount()">
                                    <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                                    <span class="ml-2 mr-1">조회</span>
                                </button>
                                <button
                                    class="ml-2"
                                    mat-flat-button
                                    [color]="'accent'"
                                    (click)="createUdiEntrpsAccount()">
                                    <span class="ml-2 mr-1">UDI 통합업체</span>
                                </button>
                                <button
                                    class="ml-2"
                                    mat-flat-button
                                    [color]="'accent'"
                                    (click)="createUdiAccount()">
                                    <span class="ml-2 mr-1">UDI Portal 거래처 가져오기</span>
                                </button>
                                <button
                                    class="ml-2"
                                    mat-flat-button
                                    [color]="'accent'"
                                    (click)="createAccount()">
                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    <span class="ml-2 mr-1">신규</span>
                                </button>
                            </div>
                            <!-- Loader -->
                            <div
                                class="absolute inset-x-0 bottom-0"
                                *ngIf="isLoading">
                                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                            </div>
                        </div>

                        <!-- Main -->
                        <div class="flex flex-auto overflow-hidden">
                            <!-- Account list -->
                            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">
                                <ng-container *ngIf="accountsCount > 0; else noAccounts">
                                    <!-- Table wrapper -->
                                    <div
                                        class="overflow-x-auto sm:overflow-y-auto"
                                        cdkScrollable>
                                        <!-- Table -->

                                        <table
                                            class="w-full min-w-320 table-fixed bg-transparent"
                                            [ngClass]="{'pointer-events-none': isLoading}"
                                            mat-table
                                            matSort
                                            [matSortActive]="'account'"
                                            [matSortDisableClear]="true"
                                            [matSortDirection]="'asc'"
                                            [multiTemplateDataRows]="true"
                                            [dataSource]="accounts$"
                                            [trackBy]="trackByFn">

                                            <!-- Details -->
                                            <ng-container matColumnDef="details">
                                                <th
                                                    class="w-24 pr-8 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef>
                                                    상세
                                                </th>
                                                <td
                                                    class="pr-8"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    <button
                                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                        mat-stroked-button
                                                        (click)="toggleDetails(account.account)">
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="selectedAccount?.account === account.account ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <!-- account details row -->
                                            <ng-container matColumnDef="accountDetails">
                                                <td
                                                    class="p-0 border-b-0"
                                                    mat-cell
                                                    *matCellDef="let account"
                                                    [attr.colspan]="accountsTableColumns.length">
                                                    <ng-container *ngIf="selectedAccount?.account === account.account">
                                                        <ng-container
                                                            *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: account}"></ng-container>
                                                    </ng-container>
                                                </td>
                                                <ng-template
                                                    #rowDetailsTemplate
                                                    let-account>
                                                    <div
                                                        class="shadow-lg overflow-hidden"
                                                        [@expandCollapse]="selectedAccount?.account === account.account ? 'expanded' : 'collapsed'">
                                                        <div class="flex border-b">
                                                            <!-- Selected product form -->
                                                            <form
                                                                class="flex flex-col w-full"
                                                                [formGroup]="selectedAccountForm">
                                                                <div class="flex p-8">
                                                                    <div class="flex flex-auto">
                                                                        <div class="flex flex-col w-full pl-8">
                                                                            <div class="flex">
                                                                                <!-- Name -->
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>거래처 코드</mat-label>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'account'">
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-4/6 pr-2">
                                                                                    <mat-label>거래처 명</mat-label>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'descr'">
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="flex">
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>유형</mat-label>
                                                                                    <mat-select [formControlName]="'accountType'">
                                                                                        <ng-container *ngFor="let accountType of accountType">
                                                                                            <mat-option [value]="accountType.id">
                                                                                                {{accountType.name}}
                                                                                            </mat-option>
                                                                                        </ng-container>
                                                                                    </mat-select>
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>사업자번호</mat-label>
                                                                                    <input
                                                                                        type="number"
                                                                                        matInput
                                                                                        [formControlName]="'custBusinessNumber'">
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>사업자명</mat-label>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'custBusinessName'">
                                                                                </mat-form-field>
                                                                            </div>

                                                                            <div class="flex">

                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>대표자명</mat-label>
                                                                                    <mat-icon
                                                                                        class="icon-size-5"
                                                                                        [svgIcon]="'heroicons_solid:user'"
                                                                                        matPrefix></mat-icon>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'representName'">
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>업태</mat-label>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'businessCondition'">
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>종목</mat-label>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'businessCategory'">
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="flex">
                                                                                <mat-form-field class="w-2/4 pr-2">
                                                                                    <mat-label>주소</mat-label>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'address'"
                                                                                        (click)="openAddressPopup()">
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-2/4 pr-2">
                                                                                    <mat-label>상세주소</mat-label>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'addressDetail'">
                                                                                </mat-form-field>
                                                                            </div>

                                                                            <div class="flex">
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>대표 전화</mat-label>
                                                                                    <mat-icon
                                                                                        class="icon-size-5"
                                                                                        [svgIcon]="'heroicons_solid:phone'"
                                                                                        matPrefix></mat-icon>
                                                                                    <input
                                                                                        type="number"
                                                                                        matInput
                                                                                        [formControlName]="'phoneNumber'">
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>팩스</mat-label>
                                                                                    <input
                                                                                        type="number"
                                                                                        matInput
                                                                                        [formControlName]="'fax'">
                                                                                </mat-form-field>
                                                                                <mat-form-field class="w-2/6 pr-2">
                                                                                    <mat-label>이메일</mat-label>
                                                                                    <mat-icon
                                                                                        class="icon-size-5"
                                                                                        [svgIcon]="'heroicons_solid:mail'"
                                                                                        matPrefix></mat-icon>
                                                                                    <input
                                                                                        matInput
                                                                                        [formControlName]="'email'">
                                                                                </mat-form-field>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <!-- Product images and status -->
                                                                    <!--                                                <div class="flex flex-col">-->
                                                                    <!--                                                    <div class="flex flex-col mt-8">-->
                                                                    <!--                                                        <span class="font-semibold mb-2">Product status</span>-->
                                                                    <!--                                                        <mat-slide-toggle-->
                                                                    <!--                                                            [formControlName]="'active'"-->
                                                                    <!--                                                            [color]="'primary'">-->
                                                                    <!--                                                            {{selectedItemForm.get('active').value === true ? 'Active' : 'Disabled'}}-->
                                                                    <!--                                                        </mat-slide-toggle>-->
                                                                    <!--                                                    </div>-->
                                                                    <!--                                                </div>-->
                                                                    <!--                                                (click)="deleteSelectedProduct()" (click)="updateSelectedProduct()"-->


                                                                </div>
                                                                <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                                                    <button
                                                                        class="-ml-4"
                                                                        mat-button
                                                                        [color]="'warn'"
                                                                        (click)="deleteAccount()">
                                                                        삭제
                                                                    </button>

                                                                    <div class="flex items-center">
                                                                        <div
                                                                            class="flex items-center mr-4"
                                                                            *ngIf="flashMessage">
                                                                            <ng-container *ngIf="flashMessage === 'success'">
                                                                                <mat-icon
                                                                                    class="text-green-500"
                                                                                    [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                                                <span class="ml-2">Product updated</span>
                                                                            </ng-container>
                                                                            <ng-container *ngIf="flashMessage === 'error'">
                                                                                <mat-icon
                                                                                    class="text-red-500"
                                                                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                                                <span class="ml-2">An error occurred, try again!</span>
                                                                            </ng-container>
                                                                        </div>
                                                                        <button
                                                                            mat-flat-button
                                                                            [color]="'primary'"
                                                                            (click)="updateAccount()">
                                                                            수정
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </ng-template>

                                            </ng-container>
                                            <!-- account -->
                                            <ng-container matColumnDef="account">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    거래처 코드
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.account}}
                                                </td>
                                            </ng-container>
                                            <!-- descr -->
                                            <ng-container matColumnDef="descr">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    거래처 명
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.descr}}
                                                </td>
                                            </ng-container>
                                            <!-- accountType -->
                                            <ng-container matColumnDef="accountType">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    유형
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{(account.accountType | fuseFindByKey:'id':accountType).name}}
                                                </td>
                                            </ng-container>
                                            <!-- custBusinessNumber -->
                                            <ng-container matColumnDef="custBusinessNumber">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    사업자번호
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.custBusinessNumber}}
                                                </td>
                                            </ng-container>
                                            <!-- custBusinessName -->
                                            <ng-container matColumnDef="custBusinessName">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    사업자명
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.custBusinessName}}
                                                </td>
                                            </ng-container>
                                            <!-- representName -->
                                            <ng-container matColumnDef="representName">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    대표자명
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.representName}}
                                                </td>
                                            </ng-container>
                                            <!-- businessCondition -->
                                            <ng-container matColumnDef="businessCondition">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    업태
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.businessCondition}}
                                                </td>
                                            </ng-container>
                                            <!-- businessCategory -->
                                            <ng-container matColumnDef="businessCategory">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    종목
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.businessCategory}}
                                                </td>
                                            </ng-container>
                                            <!-- address -->
                                            <ng-container matColumnDef="address">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    주소
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.address}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="addressDetail">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    상세주소
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.addressDetail}}
                                                </td>
                                            </ng-container>
                                            <!-- phoneNumber -->
                                            <ng-container matColumnDef="phoneNumber">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    대표 전화
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.phoneNumber}}
                                                </td>
                                            </ng-container>
                                            <!-- fax -->
                                            <ng-container matColumnDef="fax">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    팩스
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.fax}}
                                                </td>
                                            </ng-container>
                                            <!-- email -->
                                            <ng-container matColumnDef="email">
                                                <th
                                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                    mat-header-cell
                                                    *matHeaderCellDef
                                                    mat-sort-header
                                                    disableClear>
                                                    이메일
                                                </th>
                                                <td
                                                    class="pr-8 truncate"
                                                    mat-cell
                                                    *matCellDef="let account">
                                                    {{account.email}}
                                                </td>
                                            </ng-container>
                                            <tr
                                                class="shadow"
                                                mat-header-row
                                                *matHeaderRowDef="accountsTableColumns; sticky: true"></tr>
                                            <tr
                                                class="h-14 hover:bg-gray-100 dark:hover:bg-hover"
                                                mat-row
                                                *matRowDef="let account; columns: accountsTableColumns;"></tr>
                                            <tr
                                                class="h-0"
                                                mat-row
                                                *matRowDef="let row; columns: ['accountDetails']"></tr>

                                        </table>

                                    </div>
                                    <mat-paginator
                                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="pagenation.length"
                                        [pageIndex]="pagenation.page"
                                        [pageSize]="pagenation.size"
                                        [pageSizeOptions]="[8, 10, 25, 100]"
                                        [showFirstLastButtons]="true"></mat-paginator>
                                </ng-container>
                                <ng-template #noAccounts>
                                    <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                                        <p>데이터가 없습니다.</p>
                                        <p>신규등록 버튼을 클릭하여 거래처를 등록해 주세요.</p>
                                    </div>
                                </ng-template>
                            </div>


                            <div #daum_popup style="display:none;position:fixed;overflow:hidden;z-index:100;-webkit-overflow-scrolling:touch;">
                                <img (click)="closeAddressPopup()" src="//t1.daumcdn.net/postcode/resource/images/close.png" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1;width: 6%;" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </mat-drawer-content>

    </mat-drawer-container>
</div>
