<div class="flex flex-col flex-auto md:w-200 md:min-w-160 -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="text-lg font-medium">{{headerText}}</div>
        <button
            mat-icon-button
            (click)="_matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-1 pb-2 px-6 border-b">
        <!-- 검색조건 -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
            <form
                [formGroup]="searchForm">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                    <mat-select [formControlName]="'type'">
                        <ng-container *ngFor="let type of type">
                            <mat-option [value]="type.id">
                                {{type.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <!--<mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                    <mat-select [formControlName]="'accountType'">
                        <ng-container *ngFor="let accountType of accountType">
                            <mat-option [value]="accountType.id">
                                {{accountType.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-28 pr-2">
                    <mat-select [formControlName]="'searchCondition'">
                        <ng-container *ngFor="let searchcondition of searchCondition">
                            <mat-option [value]="searchcondition.id">
                                {{searchcondition.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>-->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 mr-2">
                    <input
                        matInput
                        [formControlName]="'searchText'"
                        [autocomplete]="'off'"
                        [placeholder]="'검색조건을 선택해주세요.'">
                </mat-form-field>
                <!-- Search -->
                <!--                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
                <!--                    <mat-icon-->
                <!--                        matPrefix-->
                <!--                        [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
                <!--                    <input-->
                <!--                        matInput-->
                <!--                        [formControlName]="'searchText'"-->
                <!--                        [autocomplete]="'off'"-->
                <!--                        [placeholder]="'상품검색'">-->
                <!--                </mat-form-field>-->
            </form>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Add product button -->
            <button
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                (click)="select()">
                <mat-icon [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                <span class="ml-2 mr-1">조회</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto overflow-hidden">
            <ng-container *ngIf="popupCount > 0; else noPopup">

                <!-- Table wrapper -->
                <div
                    class="overflow-x-auto sm:overflow-y-auto"
                    cdkScrollable>
                    <!-- Table -->
                    <table
                        class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        mat-table
                        matSort
                        [matSortActive]="'data'"
                        [matSortDisableClear]="true"
                        [matSortDirection]="'asc'"
                        [multiTemplateDataRows]="true"
                        [dataSource]="getList$"
                        [trackBy]="trackByFn">
                        <!-- Column -->

                        <ng-container *ngFor="let popupObject of commonValues">
                            <ng-container matColumnDef="{{popupObject.id}}">
                                <th
                                    class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    disableClear>
                                    {{popupObject.name}}
                                </th>
                                <td mat-cell *matCellDef="let element">{{getProperty(element, popupObject.id)}}</td>
                            </ng-container>
                        </ng-container>
                        <!--&lt;!&ndash; Column &ndash;&gt;
                        <ng-container matColumnDef="accountCd">
                            <th style="width: 200px;"
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                {{this.accountNm1}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.accountCd}}</td>
                        </ng-container>
                        &lt;!&ndash; Column &ndash;&gt;
                        <ng-container matColumnDef="accountNm">
                            <th tyle="width: 200px;"
                                class="bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                disableClear>
                                {{this.accountNm2}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.accountNm}}</td>
                        </ng-container>-->

                        <tr
                            class="shadow"
                            mat-header-row
                            *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr
                            mat-row
                            (click)="selectRow(row)"
                            [class.demo-row-is-clicked]="clickedRows.has(row)"
                            *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator
                    class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="pagenation.length"
                    [pageIndex]="pagenation.page"
                    [pageSize]="pagenation.size"
                    [pageSizeOptions]="[8, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </ng-container>
            <ng-template #noPopup>
                <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                    <p>데이터가 없습니다.</p>
                </div>
            </ng-template>

        </div>

    </div>
</div>

